<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="smtp-server" value="smtp.yourserver.com"/>
    <add key="smtp-user" value="yourname@email.com"/>
    <add key="smtp-password" value="your password"/>
    <add key="from-address" value="defaultfromaddress@gmail.com"/>	  
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
